<h1>Thud Hub</h1>

<%= link_to 'Add New Concert', new_concert_path  %> 

<div class="concert-list">
	<% @concerts.each do |concert| %> 
	<p><b><big><%= concert.band  %></big></b> </p>
	<p>Venue: <%= concert.venue  %> </p>
	<em><p><%= concert.date.strftime('%m/%d/%Y') %></p>
		<p><%=concert.start_time.strftime('%I:%M %p') %></p></em>
		<p> <%=link_to "More Details", concert_path(concert) %></p> <br> 
		<% end  %>
	</div>

