

<div class="concert-show">
	<p><h2> <%= @concert.band  %> </h2></p>
	<p>   <b>Location:</b> <%= @concert.venue  %> </p>
	<p>   <b>Date:</b> <%= @concert.date.strftime('%m/%d/%Y')  %> </p>
	<p>   <b>Doors Open:</b> <%= @concert.start_time.strftime('%I:%M %p')  %> </p>


	<%= link_to 'Back', concerts_path  %> 
	<% if logged_in? %> 

	<%= render partial: '/attendances/new' %>
	   <% end  %> 

<div class="concert-attendance">
	<h2>Attending </h2>
	<% @attendances.each do |attendee| %>
	<li><%= attendee.first_name %></li>
	<% end  %> 

</div>